.account {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 92vh;
}

.accountleft {
  /* background-image: linear-gradient(to right, #fff5bc, #cec1ff); */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
  overflow-y: auto;
}
.accountright {
  padding: 2vmax;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5fa;
}

.accountright img:hover {
  transform: scale(1.1);
}

.accountright img {
  transition: all 0.5s;
}

.accountright > h5 {
  margin: 2vmax;
  color: #45506e;
}

.accountright > a {
  color: #45506e;
  text-decoration: none;
  font: 100 1.2rem "Roboto";
  text-align: center;
  margin-top: 2vmax;
  padding: 0.5vmax 1vmax;
  transition: all 0.5s;
}

.accountright > a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
}
.accountright > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
}

.accountright > div > button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
}
.accountright > div > button {
  border: none;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.5vmax 1vmax;
}

.button-logout {
  font-size: 14px !important;
  padding: 5px 21px !important;
  background-color: #5852b1 !important;
  color: #fff !important;
  letter-spacing: 3px !important;
}
.button-logout:hover {
  text-decoration: none;
  background-color: rgba(91, 83, 204, 0.842) !important;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

@media screen and (max-width: 600px) {
  .account {
    grid-template-columns: 2fr 1fr;
  }

  .accountleft {
    padding: 0;
    min-height: 90vh;
  }

  .accountright > a {
    font: 100 1rem "Roboto";
    margin-top: 6vw;
  }
}
